/* Estilos para o footer */

.footer-content{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;


    height: 6vh;
    background-color: #c4fdff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.101);


    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    z-index: 1000; 

}

.footer-address{

}

.footer-address__title{

}

.footer-info{

}

.footer-social{

}

.footer-social ul{

}

.footer-social img{

}

.effect:hover{

}